body{
    background-color: lightseagreen;
    text-align: center;
}
div#root{
    background-color: peru;
    color: purple;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200px;
}

div#msg{
    background-color: peru;
    color: lightgrey;
}

button#btn{
    background-color: blueviolet;
    color:darkturquoise
}
